[submodule "lib/LigandMPNN"]
	path = lib/LigandMPNN
	url = https://github.com/ikalvet/LigandMPNN.git
[submodule "lib/alphafold"]
	path = lib/alphafold
	url = https://github.com/google-deepmind/alphafold.git
